<% Transaction.delete_empties %>
<% if @category.nil? && !@transaction.nil? %>
  <% @category = @transaction.find_categories[0] %>
<% end %>
<% content_for :left_page do %>
  <% @transactions.keys.each do |day| %>
    <h3><%= @transactions[day][0].print_day %></h3>
    <% @transactions[day].each do |transaction| %>
      <% if transaction.find_categories.first.nil? %>
      <% bgcolour = "#FFF" %>
      <% else %>
      <% bgcolour = "#{Category.colours[transaction.find_categories.first.name]}"%>
      <% end %>
      <!-- Finds path up to final slash, thus removing the transaction id. -->
      <% path = request.path_info[0..request.path_info.rindex('/')] %>
      <a href="<%= path + transaction.id.to_s %>">
        <div class="transaction_info">
          <span>
          <%= "<div class='tag_icon' style='background-color:#{bgcolour}'></div>" + transaction.find_merchant.name %></span>
          <%= "<span class='price_tag'>£#{transaction.amount}</span>" %>
        </div>
      </a>
      <br />
    <% end %>
  <% end %>
<% end %>

<% content_for :right_page do %>
  <% unless @transaction.nil? %>
    <div class="transaction_info">
      <h2><%= @transaction.find_merchant.name %></h2>
      <h2>£<%= @transaction.amount %></h2>
    </div>
    <div class="transaction_info">
      <h3><%= @transaction.description %></h3>
      <h3>
        <% if @transaction.find_categories.first %>
          <%= @transaction.find_categories.first.name %>
        <% end %>
      </h3>
    </div>
    <div class="transaction_info">
      <h4><%= @transaction.time %></h4>
      <% if @transaction.find_categories.first.nil? %>
        <% bgcolour = "#FFF" %>
      <% else %>
        <% bgcolour = "#{Category.colours[@transaction.find_categories.first.name]}"%>
      <% end %>
      <%= "<div class='tag_icon' style='background-color:#{bgcolour}'></div>" %>
    </div>
    <div class="transaction_info">
      <span></span>
      <span>
        <%= "<a href='/update/#{@transaction.id}'>" %>
        <img src='/images/update.png' class='modify_icon' /></a>
        <%= "<a href='/delete/#{@transaction.id}'>" %>
        <img src='/images/delete.png' class='modify_icon' /></a>
      </span>
    </div>
    <% unless @category.nil? %>
      <h4>Out of Category</h4>
      <div class="transaction_info">
        <h5>£<%= @transaction.amount%></h5>
        <h5>£<%= @category.total %></h5>
      </div>
      <% percentage = ((@transaction.amount.to_f / @category.total.to_i) * 100) %>
      <div class="bar_chart">
        <div class="bar" style="width: <%= percentage.to_s %>%; background-color: #94ECBE;"></div>
        <div class="bar" style="width: <%= (100 - percentage).to_s %>%; background-color: #1E3F20;">
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
