<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/others.css">
  <link rel="stylesheet" type="text/css" href="/styles/layout.css">
  <link rel="stylesheet" type="text/css" href="/styles/header.css">
  <link rel="stylesheet" type="text/css" href="/styles/footer.css">
  <link rel="stylesheet" type="text/css" href="/styles/navbar.css">
  <link rel="stylesheet" type="text/css" href="/styles/responsive.css">
  <link rel="icon" href="/images/favicon.png" />
  <title>Quids in!</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <a href="/index/0"><h2>Quids</h2></a>
      <% @font_red = " style='color:red;' " if @budget.overbudget?%>
      <h2 class='budget_stats'<%= @font_red %>>£ <%= @budget.cash_spent %>/ </h2>
      <form action='/budget' method='POST'>
        <input class='budget_form' type='text' name='budget' id='budget' size='5' pattern='\d+' value='<%= @budget.cash_max %>' <%= @font_red %> />
      </form>
    </div>
    <div class="page">
      <div class="left_page"><%= yield_content :left_page %></div>
      <div class="right_page"><%= yield_content :right_page %></div>
    </div>
    <div class="footer">
      <ul class="nav">
        <li>
          <h3>Merchant</h3>
          <ul>
            <% Merchant.find_all.each do |merchant| %>
              <li><a href="/merchant/<%= merchant.id %>/0"><%= merchant.name %></a></li>
            <% end %>
          </ul>
        </li>
        <li>
          <h3>Month</h3>
          <ul>
            <% Transaction.group_by_month(Transaction.find_all).keys.each do |month| %>
              <li><a href="/month/<%= month %>/0"><%= DateTime.strptime(month, '%Y-%m').strftime("%b '%y") %></a></li>
            <% end %>
          </ul>
        </li>
        <li>
          <h3>Category</h3>
          <ul>
            <% Category.find_all.each do |category| %>
              <li><a href="/category/<%= category.id %>/0"><%= category.name %></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <a href="/add"><div class="circle"><h1>+</h1></div></a>
    </div>
  </div>
</body>
</html>
